

@keyframes slide-up {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.changing-text {
  position: relative;
}

.changing-text span {
  position: absolute;
  top: 0;
  left: 0;
  animation: slide-up 0.5s ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
}

.fade-appear,
.fade-enter {
  opacity: 0;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 1s ease-out;
}
